<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learningmplat.backend.mapper.BizProjectMapper">

    <resultMap id="BaseResultMap" type="com.learningmplat.backend.domain.BizProject">
            <id property="id" column="id" />
            <result property="projectName" column="project_name" />
            <result property="projectLevel" column="project_level" />
            <result property="totalFund" column="total_fund" />
            <result property="auditStatus" column="audit_status" />
            <result property="createTime" column="create_time" />
            <result property="createId" column="create_id" />
    </resultMap>

    <sql id="Base_Column_List">
        id,project_name,project_level,total_fund,audit_status,create_time,
        create_id
    </sql>
</mapper>
