<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learningmplat.backend.mapper.BizPaperAuthorMapper">

    <resultMap id="BaseResultMap" type="com.learningmplat.backend.domain.BizPaperAuthor">
            <id property="id" column="id" />
            <result property="paperId" column="paper_id" />
            <result property="userId" column="user_id" />
            <result property="authorRank" column="author_rank" />
            <result property="contributionRate" column="contribution_rate" />
    </resultMap>

    <sql id="Base_Column_List">
        id,paper_id,user_id,author_rank,contribution_rate
    </sql>
</mapper>
