<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learningmplat.backend.mapper.SysLogMapper">

    <resultMap id="BaseResultMap" type="com.learningmplat.backend.domain.SysLog">
            <id property="id" column="id" />
            <result property="title" column="title" />
            <result property="action" column="action" />
            <result property="operName" column="oper_name" />
            <result property="operIp" column="oper_ip" />
            <result property="status" column="status" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,title,action,oper_name,oper_ip,status,
        create_time
    </sql>
</mapper>
