<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BizCourseMapper">
    
    <resultMap type="BizCourse" id="BizCourseResult">
        <result property="id"    column="id"    />
        <result property="courseCode"    column="course_code"    />
        <result property="courseName"    column="course_name"    />
        <result property="credits"    column="credits"    />
        <result property="teacherName"    column="teacher_name"    />
        <result property="semester"    column="semester"    />
        <result property="createTime"    column="create_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBizCourseVo">
        select id, course_code, course_name, credits, teacher_name, semester, create_time, remark from biz_course
    </sql>

    <select id="selectBizCourseList" parameterType="BizCourse" resultMap="BizCourseResult">
        <include refid="selectBizCourseVo"/>
        <where>  
            <if test="courseCode != null  and courseCode != ''"> and course_code = #{courseCode}</if>
            <if test="courseName != null  and courseName != ''"> and course_name like concat('%', #{courseName}, '%')</if>
            <if test="credits != null "> and credits = #{credits}</if>
            <if test="teacherName != null  and teacherName != ''"> and teacher_name like concat('%', #{teacherName}, '%')</if>
            <if test="semester != null  and semester != ''"> and semester = #{semester}</if>
        </where>
    </select>
    
    <select id="selectBizCourseById" parameterType="Long" resultMap="BizCourseResult">
        <include refid="selectBizCourseVo"/>
        where id = #{id}
    </select>

    <insert id="insertBizCourse" parameterType="BizCourse" useGeneratedKeys="true" keyProperty="id">
        insert into biz_course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="courseCode != null and courseCode != ''">course_code,</if>
            <if test="courseName != null and courseName != ''">course_name,</if>
            <if test="credits != null">credits,</if>
            <if test="teacherName != null">teacher_name,</if>
            <if test="semester != null">semester,</if>
            <if test="createTime != null">create_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="courseCode != null and courseCode != ''">#{courseCode},</if>
            <if test="courseName != null and courseName != ''">#{courseName},</if>
            <if test="credits != null">#{credits},</if>
            <if test="teacherName != null">#{teacherName},</if>
            <if test="semester != null">#{semester},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBizCourse" parameterType="BizCourse">
        update biz_course
        <trim prefix="SET" suffixOverrides=",">
            <if test="courseCode != null and courseCode != ''">course_code = #{courseCode},</if>
            <if test="courseName != null and courseName != ''">course_name = #{courseName},</if>
            <if test="credits != null">credits = #{credits},</if>
            <if test="teacherName != null">teacher_name = #{teacherName},</if>
            <if test="semester != null">semester = #{semester},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizCourseById" parameterType="Long">
        delete from biz_course where id = #{id}
    </delete>

    <delete id="deleteBizCourseByIds" parameterType="String">
        delete from biz_course where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>