<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BizCompetitionAwardMapper">
    
    <resultMap type="BizCompetitionAward" id="BizCompetitionAwardResult">
        <result property="id"    column="id"    />
        <result property="studentNo"    column="student_no"    />
        <result property="studentName"    column="student_name"    />
        <result property="major"    column="major"    />
        <result property="compYear"    column="comp_year"    />
        <result property="compName"    column="comp_name"    />
        <result property="organizer"    column="organizer"    />
        <result property="certNumber"    column="cert_number"    />
        <result property="awardDate"    column="award_date"    />
        <result property="certUrl"    column="cert_url"    />
        <result property="compLevel"    column="comp_level"    />
        <result property="awardGrade"    column="award_grade"    />
        <result property="compEdition"    column="comp_edition"    />
        <result property="compCategory"    column="comp_category"    />
        <result property="compSubject"    column="comp_subject"    />
        <result property="compGroup"    column="comp_group"    />
        <result property="isTeam"    column="is_team"    />
        <result property="teamSize"    column="team_size"    />
        <result property="myRank"    column="my_rank"    />
        <result property="teamMembers"    column="team_members"    />
        <result property="instructor1Name"    column="instructor1_name"    />
        <result property="instructor1College"    column="instructor1_college"    />
        <result property="instructor2Name"    column="instructor2_name"    />
        <result property="instructor2College"    column="instructor2_college"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBizCompetitionAwardVo">
        select id, student_no, student_name, major, comp_year, comp_name, organizer, cert_number, award_date, cert_url, comp_level, award_grade, comp_edition, comp_category, comp_subject, comp_group, is_team, team_size, my_rank, team_members, instructor1_name, instructor1_college, instructor2_name, instructor2_college, create_by, create_time, update_by, update_time, remark from biz_competition_award
    </sql>

    <select id="selectBizCompetitionAwardList" parameterType="BizCompetitionAward" resultMap="BizCompetitionAwardResult">
        <include refid="selectBizCompetitionAwardVo"/>
        <where>  
            <if test="studentNo != null  and studentNo != ''"> and student_no = #{studentNo}</if>
            <if test="studentName != null  and studentName != ''"> and student_name like concat('%', #{studentName}, '%')</if>
            <if test="major != null  and major != ''"> and major = #{major}</if>
            <if test="compYear != null  and compYear != ''"> and comp_year = #{compYear}</if>
            <if test="compName != null  and compName != ''"> and comp_name like concat('%', #{compName}, '%')</if>
            <if test="organizer != null  and organizer != ''"> and organizer = #{organizer}</if>
            <if test="certNumber != null  and certNumber != ''"> and cert_number = #{certNumber}</if>
            <if test="awardDate != null "> and award_date = #{awardDate}</if>
            <if test="certUrl != null  and certUrl != ''"> and cert_url = #{certUrl}</if>
            <if test="compLevel != null  and compLevel != ''"> and comp_level = #{compLevel}</if>
            <if test="awardGrade != null  and awardGrade != ''"> and award_grade = #{awardGrade}</if>
            <if test="compEdition != null  and compEdition != ''"> and comp_edition = #{compEdition}</if>
            <if test="compCategory != null  and compCategory != ''"> and comp_category = #{compCategory}</if>
            <if test="compSubject != null  and compSubject != ''"> and comp_subject = #{compSubject}</if>
            <if test="compGroup != null  and compGroup != ''"> and comp_group = #{compGroup}</if>
            <if test="isTeam != null  and isTeam != ''"> and is_team = #{isTeam}</if>
            <if test="teamSize != null "> and team_size = #{teamSize}</if>
            <if test="myRank != null "> and my_rank = #{myRank}</if>
            <if test="teamMembers != null  and teamMembers != ''"> and team_members = #{teamMembers}</if>
            <if test="instructor1Name != null  and instructor1Name != ''"> and instructor1_name like concat('%', #{instructor1Name}, '%')</if>
            <if test="instructor1College != null  and instructor1College != ''"> and instructor1_college = #{instructor1College}</if>
            <if test="instructor2Name != null  and instructor2Name != ''"> and instructor2_name like concat('%', #{instructor2Name}, '%')</if>
            <if test="instructor2College != null  and instructor2College != ''"> and instructor2_college = #{instructor2College}</if>
        </where>
    </select>
    
    <select id="selectBizCompetitionAwardById" parameterType="Long" resultMap="BizCompetitionAwardResult">
        <include refid="selectBizCompetitionAwardVo"/>
        where id = #{id}
    </select>

    <insert id="insertBizCompetitionAward" parameterType="BizCompetitionAward" useGeneratedKeys="true" keyProperty="id">
        insert into biz_competition_award
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentNo != null and studentNo != ''">student_no,</if>
            <if test="studentName != null and studentName != ''">student_name,</if>
            <if test="major != null">major,</if>
            <if test="compYear != null">comp_year,</if>
            <if test="compName != null and compName != ''">comp_name,</if>
            <if test="organizer != null">organizer,</if>
            <if test="certNumber != null">cert_number,</if>
            <if test="awardDate != null">award_date,</if>
            <if test="certUrl != null">cert_url,</if>
            <if test="compLevel != null">comp_level,</if>
            <if test="awardGrade != null">award_grade,</if>
            <if test="compEdition != null">comp_edition,</if>
            <if test="compCategory != null">comp_category,</if>
            <if test="compSubject != null">comp_subject,</if>
            <if test="compGroup != null">comp_group,</if>
            <if test="isTeam != null">is_team,</if>
            <if test="teamSize != null">team_size,</if>
            <if test="myRank != null">my_rank,</if>
            <if test="teamMembers != null">team_members,</if>
            <if test="instructor1Name != null">instructor1_name,</if>
            <if test="instructor1College != null">instructor1_college,</if>
            <if test="instructor2Name != null">instructor2_name,</if>
            <if test="instructor2College != null">instructor2_college,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentNo != null and studentNo != ''">#{studentNo},</if>
            <if test="studentName != null and studentName != ''">#{studentName},</if>
            <if test="major != null">#{major},</if>
            <if test="compYear != null">#{compYear},</if>
            <if test="compName != null and compName != ''">#{compName},</if>
            <if test="organizer != null">#{organizer},</if>
            <if test="certNumber != null">#{certNumber},</if>
            <if test="awardDate != null">#{awardDate},</if>
            <if test="certUrl != null">#{certUrl},</if>
            <if test="compLevel != null">#{compLevel},</if>
            <if test="awardGrade != null">#{awardGrade},</if>
            <if test="compEdition != null">#{compEdition},</if>
            <if test="compCategory != null">#{compCategory},</if>
            <if test="compSubject != null">#{compSubject},</if>
            <if test="compGroup != null">#{compGroup},</if>
            <if test="isTeam != null">#{isTeam},</if>
            <if test="teamSize != null">#{teamSize},</if>
            <if test="myRank != null">#{myRank},</if>
            <if test="teamMembers != null">#{teamMembers},</if>
            <if test="instructor1Name != null">#{instructor1Name},</if>
            <if test="instructor1College != null">#{instructor1College},</if>
            <if test="instructor2Name != null">#{instructor2Name},</if>
            <if test="instructor2College != null">#{instructor2College},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBizCompetitionAward" parameterType="BizCompetitionAward">
        update biz_competition_award
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentNo != null and studentNo != ''">student_no = #{studentNo},</if>
            <if test="studentName != null and studentName != ''">student_name = #{studentName},</if>
            <if test="major != null">major = #{major},</if>
            <if test="compYear != null">comp_year = #{compYear},</if>
            <if test="compName != null and compName != ''">comp_name = #{compName},</if>
            <if test="organizer != null">organizer = #{organizer},</if>
            <if test="certNumber != null">cert_number = #{certNumber},</if>
            <if test="awardDate != null">award_date = #{awardDate},</if>
            <if test="certUrl != null">cert_url = #{certUrl},</if>
            <if test="compLevel != null">comp_level = #{compLevel},</if>
            <if test="awardGrade != null">award_grade = #{awardGrade},</if>
            <if test="compEdition != null">comp_edition = #{compEdition},</if>
            <if test="compCategory != null">comp_category = #{compCategory},</if>
            <if test="compSubject != null">comp_subject = #{compSubject},</if>
            <if test="compGroup != null">comp_group = #{compGroup},</if>
            <if test="isTeam != null">is_team = #{isTeam},</if>
            <if test="teamSize != null">team_size = #{teamSize},</if>
            <if test="myRank != null">my_rank = #{myRank},</if>
            <if test="teamMembers != null">team_members = #{teamMembers},</if>
            <if test="instructor1Name != null">instructor1_name = #{instructor1Name},</if>
            <if test="instructor1College != null">instructor1_college = #{instructor1College},</if>
            <if test="instructor2Name != null">instructor2_name = #{instructor2Name},</if>
            <if test="instructor2College != null">instructor2_college = #{instructor2College},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizCompetitionAwardById" parameterType="Long">
        delete from biz_competition_award where id = #{id}
    </delete>

    <delete id="deleteBizCompetitionAwardByIds" parameterType="String">
        delete from biz_competition_award where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>