<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BizInnovationProjectMapper">
    
    <resultMap type="BizInnovationProject" id="BizInnovationProjectResult">
        <result property="id"    column="id"    />
        <result property="projectNo"    column="project_no"    />
        <result property="projectName"    column="project_name"    />
        <result property="projectLevel"    column="project_level"    />
        <result property="projectType"    column="project_type"    />
        <result property="leaderNo"    column="leader_no"    />
        <result property="leaderName"    column="leader_name"    />
        <result property="teamMembers"    column="team_members"    />
        <result property="instructorName"    column="instructor_name"    />
        <result property="approvalYear"    column="approval_year"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="userId"    column="user_id"    />
        <result property="status1"    column="status_1"    />
        <result property="cause"    column="cause"    />
    </resultMap>

    <sql id="selectBizInnovationProjectVo">
        select id, project_no, project_name, project_level, project_type, leader_no, leader_name, team_members, instructor_name, approval_year, status, create_by, create_time, update_by, update_time, remark, user_id, status_1, cause from biz_innovation_project
    </sql>

    <select id="selectBizInnovationProjectList" parameterType="BizInnovationProject" resultMap="BizInnovationProjectResult">
        <include refid="selectBizInnovationProjectVo"/>
        <where>  
            <if test="projectNo != null  and projectNo != ''"> and project_no = #{projectNo}</if>
            <if test="projectName != null  and projectName != ''"> and project_name like concat('%', #{projectName}, '%')</if>
            <if test="projectLevel != null  and projectLevel != ''"> and project_level = #{projectLevel}</if>
            <if test="projectType != null  and projectType != ''"> and project_type = #{projectType}</if>
            <if test="leaderNo != null  and leaderNo != ''"> and leader_no = #{leaderNo}</if>
            <if test="leaderName != null  and leaderName != ''"> and leader_name like concat('%', #{leaderName}, '%')</if>
            <if test="teamMembers != null  and teamMembers != ''"> and team_members = #{teamMembers}</if>
            <if test="instructorName != null  and instructorName != ''"> and instructor_name like concat('%', #{instructorName}, '%')</if>
            <if test="approvalYear != null  and approvalYear != ''"> and approval_year = #{approvalYear}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="status1 != null "> and status_1 = #{status1}</if>
            <if test="cause != null  and cause != ''"> and cause = #{cause}</if>
        </where>
    </select>
    
    <select id="selectBizInnovationProjectById" parameterType="Long" resultMap="BizInnovationProjectResult">
        <include refid="selectBizInnovationProjectVo"/>
        where id = #{id}
    </select>

    <insert id="insertBizInnovationProject" parameterType="BizInnovationProject" useGeneratedKeys="true" keyProperty="id">
        insert into biz_innovation_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectNo != null">project_no,</if>
            <if test="projectName != null and projectName != ''">project_name,</if>
            <if test="projectLevel != null">project_level,</if>
            <if test="projectType != null">project_type,</if>
            <if test="leaderNo != null">leader_no,</if>
            <if test="leaderName != null">leader_name,</if>
            <if test="teamMembers != null">team_members,</if>
            <if test="instructorName != null">instructor_name,</if>
            <if test="approvalYear != null">approval_year,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="userId != null">user_id,</if>
            <if test="status1 != null">status_1,</if>
            <if test="cause != null">cause,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectNo != null">#{projectNo},</if>
            <if test="projectName != null and projectName != ''">#{projectName},</if>
            <if test="projectLevel != null">#{projectLevel},</if>
            <if test="projectType != null">#{projectType},</if>
            <if test="leaderNo != null">#{leaderNo},</if>
            <if test="leaderName != null">#{leaderName},</if>
            <if test="teamMembers != null">#{teamMembers},</if>
            <if test="instructorName != null">#{instructorName},</if>
            <if test="approvalYear != null">#{approvalYear},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="userId != null">#{userId},</if>
            <if test="status1 != null">#{status1},</if>
            <if test="cause != null">#{cause},</if>
         </trim>
    </insert>

    <update id="updateBizInnovationProject" parameterType="BizInnovationProject">
        update biz_innovation_project
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectNo != null">project_no = #{projectNo},</if>
            <if test="projectName != null and projectName != ''">project_name = #{projectName},</if>
            <if test="projectLevel != null">project_level = #{projectLevel},</if>
            <if test="projectType != null">project_type = #{projectType},</if>
            <if test="leaderNo != null">leader_no = #{leaderNo},</if>
            <if test="leaderName != null">leader_name = #{leaderName},</if>
            <if test="teamMembers != null">team_members = #{teamMembers},</if>
            <if test="instructorName != null">instructor_name = #{instructorName},</if>
            <if test="approvalYear != null">approval_year = #{approvalYear},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="status1 != null">status_1 = #{status1},</if>
            <if test="cause != null">cause = #{cause},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizInnovationProjectById" parameterType="Long">
        delete from biz_innovation_project where id = #{id}
    </delete>

    <delete id="deleteBizInnovationProjectByIds" parameterType="String">
        delete from biz_innovation_project where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>