<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BizResearchProjectMapper">
    
    <resultMap type="BizResearchProject" id="BizResearchProjectResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="projectNo"    column="project_no"    />
        <result property="projectName"    column="project_name"    />
        <result property="projectSource"    column="project_source"    />
        <result property="leaderName"    column="leader_name"    />
        <result property="signYear"    column="sign_year"    />
        <result property="contractStartDate"    column="contract_start_date"    />
        <result property="contractEndDate"    column="contract_end_date"    />
        <result property="contractAmount"    column="contract_amount"    />
        <result property="arrivedAmount"    column="arrived_amount"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="cause"    column="cause"    />
    </resultMap>

    <sql id="selectBizResearchProjectVo">
        select id, user_id, project_no, project_name, project_source, leader_name, sign_year, contract_start_date, contract_end_date, contract_amount, arrived_amount, create_by, create_time, update_by, update_time, remark, status, cause from biz_research_project
    </sql>

    <select id="selectBizResearchProjectList" parameterType="BizResearchProject" resultMap="BizResearchProjectResult">
        <include refid="selectBizResearchProjectVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="projectNo != null  and projectNo != ''"> and project_no = #{projectNo}</if>
            <if test="projectName != null  and projectName != ''"> and project_name like concat('%', #{projectName}, '%')</if>
            <if test="projectSource != null  and projectSource != ''"> and project_source = #{projectSource}</if>
            <if test="leaderName != null  and leaderName != ''"> and leader_name like concat('%', #{leaderName}, '%')</if>
            <if test="signYear != null  and signYear != ''"> and sign_year = #{signYear}</if>
            <if test="contractStartDate != null "> and contract_start_date = #{contractStartDate}</if>
            <if test="contractEndDate != null "> and contract_end_date = #{contractEndDate}</if>
            <if test="contractAmount != null "> and contract_amount = #{contractAmount}</if>
            <if test="arrivedAmount != null "> and arrived_amount = #{arrivedAmount}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="cause != null  and cause != ''"> and cause = #{cause}</if>
        </where>
    </select>
    
    <select id="selectBizResearchProjectById" parameterType="Long" resultMap="BizResearchProjectResult">
        <include refid="selectBizResearchProjectVo"/>
        where id = #{id}
    </select>

    <insert id="insertBizResearchProject" parameterType="BizResearchProject" useGeneratedKeys="true" keyProperty="id">
        insert into biz_research_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="projectNo != null and projectNo != ''">project_no,</if>
            <if test="projectName != null and projectName != ''">project_name,</if>
            <if test="projectSource != null">project_source,</if>
            <if test="leaderName != null">leader_name,</if>
            <if test="signYear != null">sign_year,</if>
            <if test="contractStartDate != null">contract_start_date,</if>
            <if test="contractEndDate != null">contract_end_date,</if>
            <if test="contractAmount != null">contract_amount,</if>
            <if test="arrivedAmount != null">arrived_amount,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status,</if>
            <if test="cause != null">cause,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="projectNo != null and projectNo != ''">#{projectNo},</if>
            <if test="projectName != null and projectName != ''">#{projectName},</if>
            <if test="projectSource != null">#{projectSource},</if>
            <if test="leaderName != null">#{leaderName},</if>
            <if test="signYear != null">#{signYear},</if>
            <if test="contractStartDate != null">#{contractStartDate},</if>
            <if test="contractEndDate != null">#{contractEndDate},</if>
            <if test="contractAmount != null">#{contractAmount},</if>
            <if test="arrivedAmount != null">#{arrivedAmount},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
            <if test="cause != null">#{cause},</if>
         </trim>
    </insert>

    <update id="updateBizResearchProject" parameterType="BizResearchProject">
        update biz_research_project
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="projectNo != null and projectNo != ''">project_no = #{projectNo},</if>
            <if test="projectName != null and projectName != ''">project_name = #{projectName},</if>
            <if test="projectSource != null">project_source = #{projectSource},</if>
            <if test="leaderName != null">leader_name = #{leaderName},</if>
            <if test="signYear != null">sign_year = #{signYear},</if>
            <if test="contractStartDate != null">contract_start_date = #{contractStartDate},</if>
            <if test="contractEndDate != null">contract_end_date = #{contractEndDate},</if>
            <if test="contractAmount != null">contract_amount = #{contractAmount},</if>
            <if test="arrivedAmount != null">arrived_amount = #{arrivedAmount},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
            <if test="cause != null">cause = #{cause},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizResearchProjectById" parameterType="Long">
        delete from biz_research_project where id = #{id}
    </delete>

    <delete id="deleteBizResearchProjectByIds" parameterType="String">
        delete from biz_research_project where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>