<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BizResearchAwardPeopleMapper">
    
    <resultMap type="BizResearchAwardPeople" id="BizResearchAwardPeopleResult">
        <result property="id"    column="id"    />
        <result property="awardId"    column="award_id"    />
        <result property="userId"    column="user_id"    />
        <result property="authorOrder"    column="author_order"    />
        <result property="contribution"    column="contribution"    />
    </resultMap>

    <sql id="selectBizResearchAwardPeopleVo">
        select id, award_id, user_id, author_order, contribution from biz_research_award_people
    </sql>

    <select id="selectBizResearchAwardPeopleList" parameterType="BizResearchAwardPeople" resultMap="BizResearchAwardPeopleResult">
        <include refid="selectBizResearchAwardPeopleVo"/>
        <where>  
            <if test="awardId != null "> and award_id = #{awardId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="authorOrder != null "> and author_order = #{authorOrder}</if>
            <if test="contribution != null "> and contribution = #{contribution}</if>
        </where>
    </select>
    
    <select id="selectBizResearchAwardPeopleById" parameterType="Long" resultMap="BizResearchAwardPeopleResult">
        <include refid="selectBizResearchAwardPeopleVo"/>
        where id = #{id}
    </select>

    <insert id="insertBizResearchAwardPeople" parameterType="BizResearchAwardPeople" useGeneratedKeys="true" keyProperty="id">
        insert into biz_research_award_people
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="awardId != null">award_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="authorOrder != null">author_order,</if>
            <if test="contribution != null">contribution,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="awardId != null">#{awardId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="authorOrder != null">#{authorOrder},</if>
            <if test="contribution != null">#{contribution},</if>
         </trim>
    </insert>

    <update id="updateBizResearchAwardPeople" parameterType="BizResearchAwardPeople">
        update biz_research_award_people
        <trim prefix="SET" suffixOverrides=",">
            <if test="awardId != null">award_id = #{awardId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="authorOrder != null">author_order = #{authorOrder},</if>
            <if test="contribution != null">contribution = #{contribution},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizResearchAwardPeopleById" parameterType="Long">
        delete from biz_research_award_people where id = #{id}
    </delete>

    <delete id="deleteBizResearchAwardPeopleByIds" parameterType="String">
        delete from biz_research_award_people where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>