<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BizResearchPaperMapper">
    
    <resultMap type="BizResearchPaper" id="BizResearchPaperResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="paperType"    column="paper_type"    />
        <result property="paperTitle"    column="paper_title"    />
        <result property="journalOrConf"    column="journal_or_conf"    />
        <result property="authorInfo"    column="author_info"    />
        <result property="corrAuthorInfo"    column="corr_author_info"    />
        <result property="isFirstUnit"    column="is_first_unit"    />
        <result property="attribution"    column="attribution"    />
        <result property="points"    column="points"    />
        <result property="sciZone"    column="sci_zone"    />
        <result property="isRecommended"    column="is_recommended"    />
        <result property="ccfZone"    column="ccf_zone"    />
        <result property="isExcellentLeading"    column="is_excellent_leading"    />
        <result property="isHighlyCited"    column="is_highly_cited"    />
        <result property="isEsi"    column="is_esi"    />
        <result property="awardLevel"    column="award_level"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="cause"    column="cause"    />
    </resultMap>

    <sql id="selectBizResearchPaperVo">
        select id, user_id, paper_type, paper_title, journal_or_conf, author_info, corr_author_info, is_first_unit, attribution, points, sci_zone, is_recommended, ccf_zone, is_excellent_leading, is_highly_cited, is_esi, award_level, create_by, create_time, update_by, update_time, remark, status, cause from biz_research_paper
    </sql>

    <select id="selectBizResearchPaperList" parameterType="BizResearchPaper" resultMap="BizResearchPaperResult">
        <include refid="selectBizResearchPaperVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="paperType != null  and paperType != ''"> and paper_type = #{paperType}</if>
            <if test="paperTitle != null  and paperTitle != ''"> and paper_title = #{paperTitle}</if>
            <if test="journalOrConf != null  and journalOrConf != ''"> and journal_or_conf = #{journalOrConf}</if>
            <if test="authorInfo != null  and authorInfo != ''"> and author_info = #{authorInfo}</if>
            <if test="corrAuthorInfo != null  and corrAuthorInfo != ''"> and corr_author_info = #{corrAuthorInfo}</if>
            <if test="isFirstUnit != null  and isFirstUnit != ''"> and is_first_unit = #{isFirstUnit}</if>
            <if test="attribution != null  and attribution != ''"> and attribution = #{attribution}</if>
            <if test="points != null "> and points = #{points}</if>
            <if test="sciZone != null  and sciZone != ''"> and sci_zone = #{sciZone}</if>
            <if test="isRecommended != null  and isRecommended != ''"> and is_recommended = #{isRecommended}</if>
            <if test="ccfZone != null  and ccfZone != ''"> and ccf_zone = #{ccfZone}</if>
            <if test="isExcellentLeading != null  and isExcellentLeading != ''"> and is_excellent_leading = #{isExcellentLeading}</if>
            <if test="isHighlyCited != null  and isHighlyCited != ''"> and is_highly_cited = #{isHighlyCited}</if>
            <if test="isEsi != null  and isEsi != ''"> and is_esi = #{isEsi}</if>
            <if test="awardLevel != null  and awardLevel != ''"> and award_level = #{awardLevel}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="cause != null  and cause != ''"> and cause = #{cause}</if>
        </where>
    </select>
    
    <select id="selectBizResearchPaperById" parameterType="Long" resultMap="BizResearchPaperResult">
        <include refid="selectBizResearchPaperVo"/>
        where id = #{id}
    </select>

    <insert id="insertBizResearchPaper" parameterType="BizResearchPaper" useGeneratedKeys="true" keyProperty="id">
        insert into biz_research_paper
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="paperType != null and paperType != ''">paper_type,</if>
            <if test="paperTitle != null and paperTitle != ''">paper_title,</if>
            <if test="journalOrConf != null and journalOrConf != ''">journal_or_conf,</if>
            <if test="authorInfo != null">author_info,</if>
            <if test="corrAuthorInfo != null">corr_author_info,</if>
            <if test="isFirstUnit != null">is_first_unit,</if>
            <if test="attribution != null">attribution,</if>
            <if test="points != null">points,</if>
            <if test="sciZone != null">sci_zone,</if>
            <if test="isRecommended != null">is_recommended,</if>
            <if test="ccfZone != null">ccf_zone,</if>
            <if test="isExcellentLeading != null">is_excellent_leading,</if>
            <if test="isHighlyCited != null">is_highly_cited,</if>
            <if test="isEsi != null">is_esi,</if>
            <if test="awardLevel != null">award_level,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status,</if>
            <if test="cause != null">cause,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="paperType != null and paperType != ''">#{paperType},</if>
            <if test="paperTitle != null and paperTitle != ''">#{paperTitle},</if>
            <if test="journalOrConf != null and journalOrConf != ''">#{journalOrConf},</if>
            <if test="authorInfo != null">#{authorInfo},</if>
            <if test="corrAuthorInfo != null">#{corrAuthorInfo},</if>
            <if test="isFirstUnit != null">#{isFirstUnit},</if>
            <if test="attribution != null">#{attribution},</if>
            <if test="points != null">#{points},</if>
            <if test="sciZone != null">#{sciZone},</if>
            <if test="isRecommended != null">#{isRecommended},</if>
            <if test="ccfZone != null">#{ccfZone},</if>
            <if test="isExcellentLeading != null">#{isExcellentLeading},</if>
            <if test="isHighlyCited != null">#{isHighlyCited},</if>
            <if test="isEsi != null">#{isEsi},</if>
            <if test="awardLevel != null">#{awardLevel},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
            <if test="cause != null">#{cause},</if>
         </trim>
    </insert>

    <update id="updateBizResearchPaper" parameterType="BizResearchPaper">
        update biz_research_paper
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="paperType != null and paperType != ''">paper_type = #{paperType},</if>
            <if test="paperTitle != null and paperTitle != ''">paper_title = #{paperTitle},</if>
            <if test="journalOrConf != null and journalOrConf != ''">journal_or_conf = #{journalOrConf},</if>
            <if test="authorInfo != null">author_info = #{authorInfo},</if>
            <if test="corrAuthorInfo != null">corr_author_info = #{corrAuthorInfo},</if>
            <if test="isFirstUnit != null">is_first_unit = #{isFirstUnit},</if>
            <if test="attribution != null">attribution = #{attribution},</if>
            <if test="points != null">points = #{points},</if>
            <if test="sciZone != null">sci_zone = #{sciZone},</if>
            <if test="isRecommended != null">is_recommended = #{isRecommended},</if>
            <if test="ccfZone != null">ccf_zone = #{ccfZone},</if>
            <if test="isExcellentLeading != null">is_excellent_leading = #{isExcellentLeading},</if>
            <if test="isHighlyCited != null">is_highly_cited = #{isHighlyCited},</if>
            <if test="isEsi != null">is_esi = #{isEsi},</if>
            <if test="awardLevel != null">award_level = #{awardLevel},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
            <if test="cause != null">cause = #{cause},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizResearchPaperById" parameterType="Long">
        delete from biz_research_paper where id = #{id}
    </delete>

    <delete id="deleteBizResearchPaperByIds" parameterType="String">
        delete from biz_research_paper where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>