<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BizStudentCourseMapper">
    
    <resultMap type="BizStudentCourse" id="BizStudentCourseResult">
        <result property="id"    column="id"    />
        <result property="studentNo"    column="student_no"    />
        <result property="courseId"    column="course_id"    />
        <result property="score"    column="score"    />
        <result property="earnedCredits"    column="earned_credits"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="chooseStatus"    column="choose_status"    />
        <result property="learnStatus"    column="learn_status"    />
        <result property="userId"    column="user_id"    />
        <result property="courseCode" column="course_code" />
        <result property="courseName" column="course_name" />
        <result property="teacherName" column="teacher_name" />
        <result property="credits" column="credits" />
        <result property="semester" column="semester" />
    </resultMap>

    <sql id="selectBizStudentCourseVo">
        select id, student_no, course_id, score, earned_credits, create_time, update_time, choose_status, learn_status, user_id from biz_student_course
    </sql>

    <select id="selectBizStudentCourseList" parameterType="BizStudentCourse" resultMap="BizStudentCourseResult">
        SELECT
        -- 1. 中间表自己的业务数据
        sc.id, sc.student_no, sc.user_id, sc.course_id,
        sc.score, sc.earned_credits, sc.choose_status, sc.learn_status,
        -- 2. 隔壁课程表借过来的展示数据
        c.course_code, c.course_name, c.teacher_name, c.credits, c.semester
        FROM biz_student_course sc
        LEFT JOIN biz_course c ON sc.course_id = c.id
        <where>
            <if test="userId != null"> and sc.user_id = #{userId}</if>
        </where>
    </select>
    
    <select id="selectBizStudentCourseById" parameterType="Long" resultMap="BizStudentCourseResult">
        <include refid="selectBizStudentCourseVo"/>
        where id = #{id}
    </select>

    <insert id="insertBizStudentCourse" parameterType="BizStudentCourse" useGeneratedKeys="true" keyProperty="id">
        insert into biz_student_course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentNo != null and studentNo != ''">student_no,</if>
            <if test="courseId != null">course_id,</if>
            <if test="score != null">score,</if>
            <if test="earnedCredits != null">earned_credits,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="chooseStatus != null">choose_status,</if>
            <if test="learnStatus != null">learn_status,</if>
            <if test="userId != null">user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentNo != null and studentNo != ''">#{studentNo},</if>
            <if test="courseId != null">#{courseId},</if>
            <if test="score != null">#{score},</if>
            <if test="earnedCredits != null">#{earnedCredits},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="chooseStatus != null">#{chooseStatus},</if>
            <if test="learnStatus != null">#{learnStatus},</if>
            <if test="userId != null">#{userId},</if>
         </trim>
    </insert>

    <update id="updateBizStudentCourse" parameterType="BizStudentCourse">
        update biz_student_course
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentNo != null and studentNo != ''">student_no = #{studentNo},</if>
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="score != null">score = #{score},</if>
            <if test="earnedCredits != null">earned_credits = #{earnedCredits},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="chooseStatus != null">choose_status = #{chooseStatus},</if>
            <if test="learnStatus != null">learn_status = #{learnStatus},</if>
            <if test="userId != null">user_id = #{userId},</if>
        </trim>
        where id = #{id}
    </update>


    <delete id="deleteBizStudentCourseById" parameterType="Long">
        delete from biz_student_course where id = #{id}
    </delete>

    <delete id="deleteBizStudentCourseByIds" parameterType="String">
        delete from biz_student_course where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>