<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BizStudentCourseMapper">
    
    <resultMap type="BizStudentCourse" id="BizStudentCourseResult">
        <result property="id"    column="id"    />
        <result property="studentNo"    column="student_no"    />
        <result property="courseId"    column="course_id"    />
        <result property="score"    column="score"    />
        <result property="earnedCredits"    column="earned_credits"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBizStudentCourseVo">
        select id, student_no, course_id, score, earned_credits, create_time, update_time from biz_student_course
    </sql>

    <select id="selectBizStudentCourseList" parameterType="BizStudentCourse" resultMap="BizStudentCourseResult">
        <include refid="selectBizStudentCourseVo"/>
        <where>  
            <if test="studentNo != null  and studentNo != ''"> and student_no = #{studentNo}</if>
            <if test="courseId != null "> and course_id = #{courseId}</if>
            <if test="score != null "> and score = #{score}</if>
            <if test="earnedCredits != null "> and earned_credits = #{earnedCredits}</if>
        </where>
    </select>
    
    <select id="selectBizStudentCourseById" parameterType="Long" resultMap="BizStudentCourseResult">
        <include refid="selectBizStudentCourseVo"/>
        where id = #{id}
    </select>

    <insert id="insertBizStudentCourse" parameterType="BizStudentCourse" useGeneratedKeys="true" keyProperty="id">
        insert into biz_student_course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentNo != null and studentNo != ''">student_no,</if>
            <if test="courseId != null">course_id,</if>
            <if test="score != null">score,</if>
            <if test="earnedCredits != null">earned_credits,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentNo != null and studentNo != ''">#{studentNo},</if>
            <if test="courseId != null">#{courseId},</if>
            <if test="score != null">#{score},</if>
            <if test="earnedCredits != null">#{earnedCredits},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBizStudentCourse" parameterType="BizStudentCourse">
        update biz_student_course
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentNo != null and studentNo != ''">student_no = #{studentNo},</if>
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="score != null">score = #{score},</if>
            <if test="earnedCredits != null">earned_credits = #{earnedCredits},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizStudentCourseById" parameterType="Long">
        delete from biz_student_course where id = #{id}
    </delete>

    <delete id="deleteBizStudentCourseByIds" parameterType="String">
        delete from biz_student_course where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>