<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BizTeacherEducationMapper">
    
    <resultMap type="BizTeacherEducation" id="BizTeacherEducationResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="eduStage"    column="edu_stage"    />
        <result property="schoolName"    column="school_name"    />
        <result property="major"    column="major"    />
        <result property="startDate"    column="start_date"    />
        <result property="endDate"    column="end_date"    />
        <result property="degreeCertUrl"    column="degree_cert_url"    />
        <result property="gradCertUrl"    column="grad_cert_url"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectBizTeacherEducationVo">
        select id, user_id, edu_stage, school_name, major, start_date, end_date, degree_cert_url, grad_cert_url, create_time from biz_teacher_education
    </sql>

    <select id="selectBizTeacherEducationList" parameterType="BizTeacherEducation" resultMap="BizTeacherEducationResult">
        <include refid="selectBizTeacherEducationVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="eduStage != null  and eduStage != ''"> and edu_stage = #{eduStage}</if>
            <if test="schoolName != null  and schoolName != ''"> and school_name like concat('%', #{schoolName}, '%')</if>
            <if test="major != null  and major != ''"> and major = #{major}</if>
            <if test="startDate != null "> and start_date = #{startDate}</if>
            <if test="endDate != null "> and end_date = #{endDate}</if>
            <if test="degreeCertUrl != null  and degreeCertUrl != ''"> and degree_cert_url = #{degreeCertUrl}</if>
            <if test="gradCertUrl != null  and gradCertUrl != ''"> and grad_cert_url = #{gradCertUrl}</if>
        </where>
    </select>
    
    <select id="selectBizTeacherEducationById" parameterType="Long" resultMap="BizTeacherEducationResult">
        <include refid="selectBizTeacherEducationVo"/>
        where id = #{id}
    </select>

    <insert id="insertBizTeacherEducation" parameterType="BizTeacherEducation" useGeneratedKeys="true" keyProperty="id">
        insert into biz_teacher_education
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="eduStage != null">edu_stage,</if>
            <if test="schoolName != null">school_name,</if>
            <if test="major != null">major,</if>
            <if test="startDate != null">start_date,</if>
            <if test="endDate != null">end_date,</if>
            <if test="degreeCertUrl != null">degree_cert_url,</if>
            <if test="gradCertUrl != null">grad_cert_url,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="eduStage != null">#{eduStage},</if>
            <if test="schoolName != null">#{schoolName},</if>
            <if test="major != null">#{major},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="endDate != null">#{endDate},</if>
            <if test="degreeCertUrl != null">#{degreeCertUrl},</if>
            <if test="gradCertUrl != null">#{gradCertUrl},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateBizTeacherEducation" parameterType="BizTeacherEducation">
        update biz_teacher_education
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="eduStage != null">edu_stage = #{eduStage},</if>
            <if test="schoolName != null">school_name = #{schoolName},</if>
            <if test="major != null">major = #{major},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="degreeCertUrl != null">degree_cert_url = #{degreeCertUrl},</if>
            <if test="gradCertUrl != null">grad_cert_url = #{gradCertUrl},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizTeacherEducationById" parameterType="Long">
        delete from biz_teacher_education where id = #{id}
    </delete>

    <delete id="deleteBizTeacherEducationByIds" parameterType="String">
        delete from biz_teacher_education where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>