<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BizTeacherExperienceMapper">
    
    <resultMap type="BizTeacherExperience" id="BizTeacherExperienceResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="expType"    column="exp_type"    />
        <result property="titleOrCountry"    column="title_or_country"    />
        <result property="researchField"    column="research_field"    />
        <result property="achievements"    column="achievements"    />
        <result property="startDate"    column="start_date"    />
        <result property="endDate"    column="end_date"    />
        <result property="createTime"    column="create_time"    />
        <result property="status"    column="status"    />
        <result property="cause"    column="cause"    />
    </resultMap>

    <sql id="selectBizTeacherExperienceVo">
        select id, user_id, exp_type, title_or_country, research_field, achievements, start_date, end_date, create_time, status, cause from biz_teacher_experience
    </sql>

    <select id="selectBizTeacherExperienceList" parameterType="BizTeacherExperience" resultMap="BizTeacherExperienceResult">
        <include refid="selectBizTeacherExperienceVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="expType != null  and expType != ''"> and exp_type = #{expType}</if>
            <if test="titleOrCountry != null  and titleOrCountry != ''"> and title_or_country = #{titleOrCountry}</if>
            <if test="researchField != null  and researchField != ''"> and research_field = #{researchField}</if>
            <if test="achievements != null  and achievements != ''"> and achievements = #{achievements}</if>
            <if test="startDate != null "> and start_date = #{startDate}</if>
            <if test="endDate != null "> and end_date = #{endDate}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="cause != null  and cause != ''"> and cause = #{cause}</if>
        </where>
    </select>
    
    <select id="selectBizTeacherExperienceById" parameterType="Long" resultMap="BizTeacherExperienceResult">
        <include refid="selectBizTeacherExperienceVo"/>
        where id = #{id}
    </select>

    <insert id="insertBizTeacherExperience" parameterType="BizTeacherExperience" useGeneratedKeys="true" keyProperty="id">
        insert into biz_teacher_experience
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="expType != null">exp_type,</if>
            <if test="titleOrCountry != null">title_or_country,</if>
            <if test="researchField != null">research_field,</if>
            <if test="achievements != null">achievements,</if>
            <if test="startDate != null">start_date,</if>
            <if test="endDate != null">end_date,</if>
            <if test="createTime != null">create_time,</if>
            <if test="status != null">status,</if>
            <if test="cause != null">cause,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="expType != null">#{expType},</if>
            <if test="titleOrCountry != null">#{titleOrCountry},</if>
            <if test="researchField != null">#{researchField},</if>
            <if test="achievements != null">#{achievements},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="endDate != null">#{endDate},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="status != null">#{status},</if>
            <if test="cause != null">#{cause},</if>
         </trim>
    </insert>

    <update id="updateBizTeacherExperience" parameterType="BizTeacherExperience">
        update biz_teacher_experience
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="expType != null">exp_type = #{expType},</if>
            <if test="titleOrCountry != null">title_or_country = #{titleOrCountry},</if>
            <if test="researchField != null">research_field = #{researchField},</if>
            <if test="achievements != null">achievements = #{achievements},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="cause != null">cause = #{cause},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizTeacherExperienceById" parameterType="Long">
        delete from biz_teacher_experience where id = #{id}
    </delete>

    <delete id="deleteBizTeacherExperienceByIds" parameterType="String">
        delete from biz_teacher_experience where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>