<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BizTeacherHonorAssessmentMapper">
    
    <resultMap type="BizTeacherHonorAssessment" id="BizTeacherHonorAssessmentResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="recordType"    column="record_type"    />
        <result property="recordYear"    column="record_year"    />
        <result property="honorNameOrResult"    column="honor_name_or_result"    />
        <result property="awardUnit"    column="award_unit"    />
        <result property="docNumber"    column="doc_number"    />
        <result property="awardDate"    column="award_date"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectBizTeacherHonorAssessmentVo">
        select id, user_id, record_type, record_year, honor_name_or_result, award_unit, doc_number, award_date, create_time from biz_teacher_honor_assessment
    </sql>

    <select id="selectBizTeacherHonorAssessmentList" parameterType="BizTeacherHonorAssessment" resultMap="BizTeacherHonorAssessmentResult">
        <include refid="selectBizTeacherHonorAssessmentVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="recordType != null  and recordType != ''"> and record_type = #{recordType}</if>
            <if test="recordYear != null  and recordYear != ''"> and record_year = #{recordYear}</if>
            <if test="honorNameOrResult != null  and honorNameOrResult != ''"> and honor_name_or_result = #{honorNameOrResult}</if>
            <if test="awardUnit != null  and awardUnit != ''"> and award_unit = #{awardUnit}</if>
            <if test="docNumber != null  and docNumber != ''"> and doc_number = #{docNumber}</if>
            <if test="awardDate != null "> and award_date = #{awardDate}</if>
        </where>
    </select>
    
    <select id="selectBizTeacherHonorAssessmentById" parameterType="Long" resultMap="BizTeacherHonorAssessmentResult">
        <include refid="selectBizTeacherHonorAssessmentVo"/>
        where id = #{id}
    </select>

    <insert id="insertBizTeacherHonorAssessment" parameterType="BizTeacherHonorAssessment" useGeneratedKeys="true" keyProperty="id">
        insert into biz_teacher_honor_assessment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="recordType != null">record_type,</if>
            <if test="recordYear != null">record_year,</if>
            <if test="honorNameOrResult != null">honor_name_or_result,</if>
            <if test="awardUnit != null">award_unit,</if>
            <if test="docNumber != null">doc_number,</if>
            <if test="awardDate != null">award_date,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="recordType != null">#{recordType},</if>
            <if test="recordYear != null">#{recordYear},</if>
            <if test="honorNameOrResult != null">#{honorNameOrResult},</if>
            <if test="awardUnit != null">#{awardUnit},</if>
            <if test="docNumber != null">#{docNumber},</if>
            <if test="awardDate != null">#{awardDate},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateBizTeacherHonorAssessment" parameterType="BizTeacherHonorAssessment">
        update biz_teacher_honor_assessment
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="recordType != null">record_type = #{recordType},</if>
            <if test="recordYear != null">record_year = #{recordYear},</if>
            <if test="honorNameOrResult != null">honor_name_or_result = #{honorNameOrResult},</if>
            <if test="awardUnit != null">award_unit = #{awardUnit},</if>
            <if test="docNumber != null">doc_number = #{docNumber},</if>
            <if test="awardDate != null">award_date = #{awardDate},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizTeacherHonorAssessmentById" parameterType="Long">
        delete from biz_teacher_honor_assessment where id = #{id}
    </delete>

    <delete id="deleteBizTeacherHonorAssessmentByIds" parameterType="String">
        delete from biz_teacher_honor_assessment where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>