<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BizTeacherGradeMapper">

<select id="selectCourseStudentList" resultType="com.ruoyi.system.domain.BizStudentCourse">
    SELECT
    sc.id,
    sc.student_no,
    sc.course_id,
    sc.score,
    sc.learn_status,
    s.real_name AS studentName,  s.college,
    s.major,
    c.course_name AS courseName
    FROM biz_student_course sc
    LEFT JOIN biz_student_profile s ON sc.student_no = s.student_no
    LEFT JOIN biz_course c ON sc.course_id = c.course_id
    <where>
        <if test="courseId != null"> AND sc.course_id = #{courseId} </if>
        <if test="learnStatus != null"> AND sc.learn_status = #{learnStatus} </if>
    </where>
</select>

</mapper>